#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 12em;
  will-change: filter;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em darkred);
}

.card {
  padding: 2em;
}

.quizBtn {
  width: 193px;
height: 52px;
left: 179px;
top: 314px;
color: white;
background: #4D5B9E;
border-radius: 15px;
}